.Card {
  cursor: grab;
  min-height: 32px;
  height: fit-content;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 4px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.delete {
  cursor: pointer;
  visibility: hidden;
  align-items: flex-end;
}

.delete:hover {
  color: red;
}

.Card:hover .delete {
  visibility: visible;
}
