.title {
  cursor: pointer;
  border-radius: 3px;
  height: fit-content;;
  min-height: 32px;
  line-height:  32px;
  background-color: #ebecf0;
  width: 100%;
}

.title:hover {
  background-color: #ffffff;
} 
